// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$white: #fff;
$black: #333333;
$grey: #777777;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
// uppercase
$textUpperCase: uppercase;